.navigation__header-box {
  &-h {
    font-family: "Manrope", sans-serif;
    font-size: 4rem;
    font-weight: 800;
    line-height: 5.125rem;
    letter-spacing: 0em;
    text-align: left;
    margin: 0;

    color: #000;

    @media only screen and (max-width: 700px) {
      display: none;
      text-align: center;
    }
  }
  &-h1 {
    font-size: 3.8rem;
    font-weight: 800;
    line-height: 5.125rem;
    letter-spacing: 0em;
    text-align: left;
    color: #000;
    text-align: center;

    @media only screen and (min-width: 700px) {
      display: none;
    }

    @media only screen and (max-width: 375px) {
      line-height: 3.625rem;
      font-size: 2.625rem;
    }
  }

  &-p {
    margin-top: 1.4rem;
    margin-bottom: 0;
    font-weight: 400;
    line-height: 2.25rem;
    letter-spacing: 0.013rem;
    font-family: "Manrope", sans-serif;
    font-size: 1.3rem;
    font-weight: 400;
    text-align: left;
    color: #000000;
    @media only screen and (max-width: 700px) {
      display: none;
    }
  }
  &-p-1 {
    margin-top: 1.4rem;
    font-weight: 400;
    line-height: 2.25rem;
    letter-spacing: 0.013rem;
    font-family: "Manrope", sans-serif;
    font-size: 1.3rem;
    font-weight: 400;
    text-align: center;
    color: #000000;
    @media only screen and (min-width: 700px) {
      display: none;
    }
    @media only screen and (max-width: 530px) {
      font-size: 1rem;
    }
  }
}

.content {
  color: #000;
  &__header-p {
    font-size: 1.3rem;
    font-weight: 400;
    line-height: 2.5rem;
    letter-spacing: 0.20000004768371582px;
    text-align: center;
    @media only screen and (max-width: 850px) {
      font-size: 1.1rem;
    }
    &-1 {
      font-size: 1.1rem;
      font-weight: 400;
      line-height: 2.5rem;
      letter-spacing: 0.20000004768371582px;
      text-align: center;
    }
  }

  font-family: "Manrope", sans-serif;
  &__main--item {
    h4 {
      font-size: 1.5rem;
      font-weight: 800;
      line-height: 2rem;
      letter-spacing: 0em;
      text-align: center;
    }
  }
  &-p {
    font-size: 1.1rem;
    font-weight: 400;
    line-height: 1.8rem;
    letter-spacing: 0.20000004768371582px;
    text-align: center;
    span {
      @media only screen and (max-width: 664px) {
        display: block;
      }
    }
  }
}

.section {
  font-family: "Manrope", sans-serif;

  &__header {
    &--h {
      font-family: "Manrope", sans-serif;
      font-size: 3rem;
      font-weight: 800;
      line-height: 4rem;
      letter-spacing: 0em;
      text-align: center;
      margin-bottom: 2rem;
      @media only screen and (max-width: 860px) {
        font-size: 2.6rem;
      }
      @media only screen and (max-width: 640px) {
        font-size: 2.2rem;
        line-height: 2.8rem;
        margin-bottom: 1.8;
      }
      @media only screen and (max-width: 550px) {
        font-size: 1.8rem;
        line-height: 2rem;
      }
    }
    &--p {
      font-size: 1.2rem;
      font-weight: 400;
      line-height: 2rem;

      text-align: center;
    }
  }
  &__content {
    &--icon {
      position: relative;
      border: 2px solid #fbfcf8;
      width: 2rem;
      height: 2rem;
      font-size: 1.5rem;
      font-weight: 800;
    }
    &--p {
      font-size: 1rem;
      font-weight: 700;
      line-height: 1.7rem;

      text-align: left;
    }
  }
}

.main {
  font-family: "Manrope", sans-serif;
  &__section {
    &__top-left-h {
      font-size: 3.8rem;
      font-weight: 700;
      line-height: 4.5rem;
      text-align: left;
      @media only screen and (max-width: 1357px) {
        font-size: 3.5rem;
      }
      @media only screen and (max-width: 1180px) {
        font-size: 3rem;
      }
      @media only screen and (max-width: 1100px) {
        font-size: 2.7rem;
        line-height: 4rem;
      }
      @media only screen and (max-width: 1047px) {
        font-size: 2.5rem;
      }
      @media only screen and (max-width: 723px) {
        font-size: 2.7rem;
        line-height: 3.5rem;
        margin-top: 2rem;
      }
      @media only screen and (max-width: 415px) {
        line-height: 3rem;
        font-size: 2.4rem;
      }
    }
    &__top-left-p {
      font-size: 1rem;
      font-weight: 400;
      line-height: 2rem;
      letter-spacing: 0em;
      text-align: left;
      @media only screen and (max-width: 1205px) {
        font-size: 0.8rem;
      }
      @media only screen and (max-width: 1100px) {
        font-size: 0.7rem;
      }
      @media only screen and (max-width: 770px) {
        font-size: 0.6rem;
        line-height: 1.2rem;
      }
      @media only screen and (max-width: 723px) {
        font-size: 1rem;
        line-height: 1.5rem;
      }
      @media only screen and (max-width: 415px) {
        font-size: 0.6rem;
        line-height: 1rem;
      }
    }
  }
}
